.classContainer
{
    text-align: left;
    vertical-align: middle;
    padding: 5px;
    margin: 20px;
    background-color: antiquewhite;
    border-radius: 10px
}

.classImg
{
    width: 90%;
    margin: 10px;
    margin-top: 15px;
    border-radius: 20px;
}