.classContainer
{
    text-align: left;
    vertical-align: middle;
    padding: 25px;
    margin: 40px;
    background-color: antiquewhite;
    border-radius: 25px
}

.classImg
{
    width: 90%;
    margin-left: 20px;
    border-radius: 20px;
}