#content
{
    text-align: center;
}

#header
{   font-size: 25px;
    font-family: serenity, sans-serif;
    font-weight: 500;
    letter-spacing: 15px;
    
    
}

#logo
{
    max-width: 20%;

}

#menu
{
   list-style-type: none; 
    
}

#footer
{
    vertical-align: middle;
    background-color:aqua;
}

.container1
{
    text-align: center;
}

.container2
{
    
}

.container3
{
    margin: 10px;
    padding: 10px;
    vertical-align: middle;
    background-color:cadetblue;
}

._100
{
    width: 100%
}

._66
{
    width: 66%;
}

._33
{
   width: 33%;
}

._50
{
    width: 50%;
}

.right
{
    float:right;
}

.left
{
    float:left;
}

.clear
{
    clear:both;
}

.socialIcon
li
{
    
}

.socialIcon
{
    width: 50px;
    color: black;
}

.footerList
{
    list-style-type: none;
}

.button1
{
    font-family: serenity, sans-serif;
    font-size: 15px;
    display: inline;

    
    
}

.link1
{
    text-decoration: underline;
    
}

.link1:hover
{
    text-decoration: none;
}


