#content
{
    text-align: center;
}

#header
{
    
}

#logo
{
    
}

#menu
{
   list-style-type: none; 
}

#footerList
{
    
}

.container1
{
    text-align: center;
}

.container2
{
    
}

.container3
{
    
}

._100
{
    width: 100%
}

._66
{
    width: 66%;
}

._33
{
   width: 33%;
}

._50
{
    width: 50%;
}

.right
{
    float:right;
}

.left
{
    float:left;
}

.clear
{
    clear:both;
}

.socialIcon
{
    
}

.footerList
{
    
}

.button1
{
    
}

.link1
{
    
}

