#content
{
    text-align: center;
    
    
}

#header
{   
    font-size: 25px;
    font-family: "serenity", sans-serif;
    font-weight: 500;
    letter-spacing: 15px;
}

#logo
{
    width: 20%;
    height: auto;
    cursor: pointer;
}

#menu
{
    list-style-type: none; 
    display: inline-block;
    background-color:none;
    padding: 5px;
    margin: 10px;
    border-width: thin;
    border-color: #4B3A30;
    
}

#footer
{
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 5px;
    background-color: #4B3A30;
    font-size: 18px;
}

.container1
{
    text-align: center;
}

.container2
{
    text-align: center;
    
    word-spacing: .75px;
    letter-spacing: .3px;
    padding: 20px;
    margin: 60px;
    margin-bottom: 20px;
    
    border-radius: 30px;
    border-width: 20px;
    border-color: #4B3A30;
}

.container3
{
    margin: 10px;
    padding: 5px;
}

._100
{
    width: 100%
}

._66
{
    width: 66%;
}

._33
{
   width: 33%;
}

._50
{
    width: 50%;
}

.right
{
    float:right;
}

.left
{
    float:left;
}

.clear
{
    clear:both;
}

li
{
    font-family: serenity, sans-serif;
    color: #E27866;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.socialIcon
{
    width: 50px;
    margin-top: 30px;
    cursor:pointer;
}

.footerList
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.menuLink
{
    font-family: "serenity", sans-serif;
    font-size: 20px;
    display: inline-block;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    cursor:pointer;
    color: #4B3A30;

}

.menuLink:after 
{
    content: "";
    clear: both;
    display: contents;
}

.menuLink:hover
{
    color:#E27866;
}
    
.link1
{
    font-family: "serenity", sans-serif;
    text-decoration: underline;
    color: #E27866;
    
}

.link1:hover
{
    text-decoration: none;
}

p, h1, h2, h3, h4, h5 {
    font-family:"omnes-pro", sans-serif;
    font-weight: 400;
    color: #4B3A30;
    margin: 0px 5px 0px 5px;
    padding: 5px;
}

p {
    font-family: "serenity", sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
}

h1
{  
    text-transform: uppercase;
}

h2
{
    font-size: 30px;
}
h4 {
    font-size: 25px;
}

h5 {
    font-size: 16px;
    color: #E27866;
}


