.linkGroup
{
    font-family:"omnes-pro", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    color: #4B3A30;
    padding: 10px 10px 10px 10px;
    
}


.helpfulButton
{
    font-family: "serenity", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    display: block;
    cursor:pointer;
    color: #4B3A30;
    background-color: antiquewhite;
    margin: auto;
    border-radius: 10px;
    padding: 4px 8px 4px 8px;

}

.helpfulButton:hover 
{
    color:#E27866
}

.description
{
    text-align: center;
    padding: 10px 50px 10px 50px;
    border: solid; 
    border-color: lightgray;
    border-width: thin;
    border-radius: 10px;
    margin: 5px 75px 20px 75px;
    text-transform: none;
}