.mainImage
{
    width: 70%;
    height: auto;
    margin: 30px;
<<<<<<< HEAD
    margin-bottom: -25px;
    border-radius: 10px;
    
}
.module
{
    font-family: "serenity", sans-serif;
    font-size: 15px;
    padding: 30px 50px 50px 50px;
    text-align: center;
    display: block;
    border: solid; 
    border-color: lightgray;
    border-width: thin;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
=======
    margin-bottom: 10px;
}

.module
{
>>>>>>> 68a2d4ff3849d8c154982d47721e0fe751f12661
    
}
.modButton
{
<<<<<<< HEAD
    font-family: "serenity", sans-serif;
    font-size: 20px;
    display: block;
    text-transform: uppercase;
    cursor:pointer;
    color: #4B3A30;
    margin: auto;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 4px 8px 4px 8px;



}
.modButton: after 
{
    content: "";
    clear: both;
    display: contents;
}

.modButton:hover 
{
    color:#E27866
=======
    
>>>>>>> 68a2d4ff3849d8c154982d47721e0fe751f12661
}